body{
    align-content: center;
    text-align: center;
}

.gameContainer{
    background: aqua;

}

#timer {
    font-family: monospace;
    font-size: 100px;
    color: red;
  
    /* Typography */
    text-align: center;
  
    /* Visual */
    background: white;
  }