body{
    align-content: center;
    text-align: center;
}


#gameContainer {
    font-family: monospace;
    font-size: 50px;
    color: red;
  
    /* Typography */
    text-align: center;
  
    /* Visual */
    background: white;
  }

p.revealQuestion{
color: white;
font-size: 30px;

}